
__pycache__/
*.pyc
.venv/
.env
.ruff_cache/
.pytest_cache/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
.DS_Store
# Ignore NFS temporary files
**/.nfs*
src/fvcomersemviz/_version.py

# build artifacts
/dist/
/build/
/*.egg-info
/src/*.egg-info
